.reloj {
    position: relative;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reloj img {
    width: 100%;
}

/*Modifica el transform origin para que las rotaciones se hagan desde el extremo del elemento*/
.aguja {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
    margin: 0;
}

/*Posiciona y establece el tamaño de las agujas*/
.hora {
    width: 2%;
    height: 23%;
    top: 26.7%;
    left: 48.77%;
    opacity: 1;
}
  
.minuto {
    width: 1.6%;
    height: 30%;
    top: 19.8%;
    left: 48.9%;
    opacity: 1;
}
  
.segundo {
    width: 1%;
    height: 40%;
    top: 9.7%;
    left: 49.2%;
    opacity: 1;
}

