.reloj {
    position: relative;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reloj img {
    width: 100%;
}

.aguja {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
    margin: 0;
}

.hora {
    width: 2%;
    height: 23%;
    top: 26.7%;
    left: 48.77%;
    opacity: 0.8;
}
  
.minuto {
    width: 1.6%;
    height: 30%;
    top: 19.8%;
    left: 48.9%;
    opacity: 0.8;
}
  
.segundo {
    width: 1%;
    height: 40%;
    top: 9.7%;
    left: 49.2%;
    opacity: 0.8;
}

