#reloj {
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(../reloj.jpg) no-repeat;
    background-size: 100%;
}

.aguja {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hora {
    width: 2.1%;
    height: 23%;
    top: 24%;
    left: 48.6%;
    opacity: 0.8;
    animation: mover_horas 216000s infinite linear;
}
  
#minuto {
    width: 1.6%;
    height: 30%;
    top: 17%;
    left: 48.9%;
    opacity: 0.8;
    animation: mover_minutos 3600s infinite linear;
}
  
#segundo {
    width: 1%;
    height: 40%;
    top: 6.5%;
    left: 49.05%;
    opacity: 0.8;
    animation: mover_segundos 60s infinite linear;
}

@keyframes mover_segundos {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes mover_minutos {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes mover_minutos {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}