#tarjeta {
    display: block;
    border: brown 8px solid;
    border-radius: 10px;
    transition: box-shadow 0.2s;
    margin: 15px 30px;
}

/*Aplica un leve sombreado para dar sensacion de profundidad*/
#tarjeta:hover {
    box-shadow: 0px 0px 30px rgba(0,0,0, 0.6);
}